<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.study.com.studyproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recycleview.RecycleViewActivity" />
        <activity android:name=".materialdesign.MaterialDesignMainActivity" />
        <activity
            android:name=".materialdesign.SnackBarActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".materialdesign.TextInputLayoutActivity"
            android:theme="@style/HintTheme" />
        <activity android:name=".notification.NotificationActivity" />
        <activity android:name=".view.ViewMoveActivity" />
        <activity android:name=".design.DesignPatternsActivity" />
        <activity android:name=".design.factory.Client" />
        <activity android:name=".design.factory.abstractfactory.Client"/>
        <activity android:name=".design.build.CreateComputer"/>
    </application>

</manifest>